.nameNKeywordPopup {
  height: 100%;
  background-color: white;
  .popupTitle {
    display: flex;
    justify-content: center;
    background-color: snow;
    border-bottom: 1px solid black;
    font-weight: bold;
  }
  .inputField {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    border-bottom: 1px solid black;
    input {
      width: 70%;
      padding-left: 5px;
    }
    button {
      border: 1px solid black;
      border-radius: 5px;
      height: 23px;
    }
    div:first-of-type {
      display: flex;
      flex-direction: column;
      width: 70%;
      input {
        width: 100%;
      }
    }
  }
  .related {
    padding: 20px 0;
    border-bottom: 1px solid black;
    .row {
      display: flex;
      border-bottom: 0.5px solid black;
      font-size: 15px;
      &:first-of-type {
        border-top: 0.5px solid black;
      }
      div {
        padding: 7px;
        &:first-of-type {
          min-width: 100px;
          border-right: 0.5px solid black;
          background-color: snow;
          text-align: center;
          font-weight: bold;
        }
        &:last-of-type {
          text-align: left;
          height: 70px;
          overflow-y: auto;
        }
      }
    }
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
      border: 1px solid black;
      border-radius: 5px;
      background-color: snow;
      width: 70px;
    }
  }
  .tableRow {
    display: flex;
    div {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-bottom: 1px solid black;
      padding: 2px 0;
      &:first-of-type {
        flex: 2;
      }
      input {
        margin: 0 40px 0 10px;
      }
    }
    .popupTitle {
      font-size: 12px;
      background-color: snow;
      justify-content: center;
    }
  }
  .keywordList {
    height: 300px;
    border-bottom: 1px solid black;
    overflow-y: auto;
    .tableRow {
      div:first-of-type {
        justify-content: left;
      }
    }
    span {
      margin: 15px 15px;
      @keyframes slidein {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      animation: slidein 1s linear 0s infinite alternate;
    }
  }
  .chosen {
    display: flex;
    justify-content: space-between;
    .chosenKeywords {
      max-width: 75%;
      div:first-of-type {
        font-weight: bold;
      }
      div:nth-of-type(2) {
        font-size: 12px;
      }
    }
    .chosenButtons {
      margin: 15px 15px 0 0;
      button {
        border: 1px solid black;
        border-radius: 5px;
        background-color: snow;
        width: 50px;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
}
